
<html>
  <head>
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/app.css">
  </head>
  <body ng-app="cheatSheets" ng-controller="CheatSheetController as cheatSheet">
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Cheat Sheets</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-repeat="cs in cheatSheet.index"><a ng-click="cheatSheet.selectCheetSheet(cs)" ng-href="#/{{cs}}">{{cs}}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-show="cheatSheet.status.id == 1"><a class="spinner">&nbsp;</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div ng-show="cheatSheet.status.id == 2 || cheatSheet.status.id == 1 " class="container main-container">
      <div class="row cheatsheet-header">
        <div class="col-sm-7 col-xs-5">
          <h1>{{cheatSheet.currentCheatSheet.id}} {{cheatSheet.currentCheatSheet.title}}</h1>
        </div>
        <div class="col-sm-5 col-xs-7">
          <input type="text" ng-model="searchQuery" placeholder="Filter..." class="form-control"/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div ng-repeat="chapter in cheatSheet.currentCheatSheet.chapters | filter:searchQuery | everyOtherItem:false" class="chapter">
            <h2>{{chapter.title}}</h2>
            <div ng-repeat="cheat in chapter.cheats | filter:searchQuery" class="cheat">
              <div class="cheat-description">{{cheat.description}}
                <div ng-if="cheat.comment" class="cheat-comment">{{cheat.comment}}</div>
                <div class="cheat-command"><span class="cmd-sign">$&nbsp;</span><span>{{cheat.command}}</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div ng-repeat="chapter in cheatSheet.currentCheatSheet.chapters | filter:searchQuery |everyOtherItem:true" class="chapter">
            <h2>{{chapter.title}}</h2>
            <div ng-repeat="cheat in chapter.cheats | filter:searchQuery" class="cheat">
              <div class="cheat-description">{{cheat.description}}
                <div ng-if="cheat.comment" class="cheat-comment">{{cheat.comment}}</div>
                <div class="cheat-command"><span class="cmd-sign">$&nbsp;</span><span>{{cheat.command}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="cheatSheet.status.id!=2" class="container main-container">
      <div class="row">
        <div class="col-xs-12">
          <div ng-show="cheatSheet.status.id == 3" class="alert alert-danger alert-error">{{cheatSheet.status.message}}</div>
          <div ng-show="cheatSheet.status.id == 4 " class="alert alert-info alert-no-cs-selected">Please select a cheat sheet...</div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <p class="text-muted">Want to add new cheats? See&nbsp;<a href="https://github.com/xeronimus/proteus">github.com/xeronimus/proteus</a></p>
      </div>
    </div>
    <script src="vendor.js"></script>
    <script src="app.js"></script>
  </body>
</html>