mixin cheat
    div.cheat-description {{cheat.description}}
        div.cheat-comment(ng-if="cheat.comment") {{cheat.comment}}
        div.cheat-command
            span.cmd-sign $&nbsp;
            span {{cheat.command}}

html
    head
        // build:vendorcss
        link(href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
        // endbuild

        // build:css
        link(href="styles/style.css" rel="stylesheet")
        // endbuild

    body(ng-app="cheatSheets" ng-controller="CheatSheetController as cheatSheet")
        div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            div.container
                div.navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') Cheat Sheets
                div.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li(ng-repeat="cs in cheatSheet.index")
                            a(ng-click="cheatSheet.selectCheetSheet(cs)" ng-href="#/{{cs}}") {{cs}}
                    ul.nav.navbar-nav.navbar-right
                        li(ng-show="cheatSheet.status.id == 1")
                            a.spinner &nbsp;

        div.container.main-container(ng-show="cheatSheet.status.id == 2 || cheatSheet.status.id == 1 ")
            div.row.cheatsheet-header
                div.col-sm-7.col-xs-5
                    h1 {{cheatSheet.currentCheatSheet.id}} {{cheatSheet.currentCheatSheet.title}}
                div.col-sm-5.col-xs-7
                    input.form-control(type="text" ng-model="searchQuery" placeholder="Filter...")
            div.row
                div.col-sm-6
                    div.chapter(ng-repeat="chapter in cheatSheet.currentCheatSheet.chapters | filter:searchQuery | everyOtherItem:false")
                        h2 {{chapter.title}}
                        div.cheat(ng-repeat="cheat in chapter.cheats | filter:searchQuery")
                            +cheat
                div.col-sm-6
                    div.chapter(ng-repeat="chapter in cheatSheet.currentCheatSheet.chapters | filter:searchQuery |everyOtherItem:true")
                        h2 {{chapter.title}}
                        div.cheat(ng-repeat="cheat in chapter.cheats | filter:searchQuery")
                            +cheat

        div.container.main-container(ng-show="cheatSheet.status.id!=2")
            div.row
                div.col-xs-12
                    div.alert.alert-danger.alert-error(ng-show="cheatSheet.status.id == 3") {{cheatSheet.status.message}}
                    div.alert.alert-info.alert-no-cs-selected(ng-show="cheatSheet.status.id == 4 ") Please select a cheat sheet...


        div.footer
            div.container
                p.text-muted Want to add new cheats? See&nbsp;
                    a(href="https://github.com/xeronimus/proteus") github.com/xeronimus/proteus

        // build:vendorjs
        script(src="bower_components/jquery/dist/jquery.min.js")
        script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(src="bower_components/angular/angular.js")
        // endbuild

        // build:js
        script(src="scripts/module.js")
        script(src="scripts/CheatSheetController.js")
        script(src="scripts/CheatSheetStore.js")
        script(src="scripts/EveryOtherItemFilter.js")
        // endbuild
